@using GladiatorHub.Models.GladiatorHub.Models
@model List<PlayableSpecialization>

@{
    ViewData["Title"] = "World of Warcraft Specializations";
}

<h1 class="text-center">Search for a Player</h1>

<div class="search-container">
    <form method="get" asp-controller="Player" asp-action="PvpSummary">
        <div class="form-group">
            <label for="characterName" class="form-label">Character Name</label>
            <input type="text" class="form-control search-input" id="characterName" name="characterName" placeholder="Enter character name" required />
        </div>

        <div class="form-group">
            <label for="realmSlug" class="form-label">Realm Name</label>
            <input type="text" class="form-control search-input" id="realmSlug" name="realmSlug" placeholder="Enter realm name" required />
        </div>

        <button type="submit" class="btn btn-primary search-button">Search</button>
    </form>
</div>

<hr />

<h2 class="text-center">World of Warcraft Specializations</h2>

<div class="specialization-icons">
    @foreach (var playableSpecialization in Model)
    {
        <div class="specialization-item">
            <img src="@playableSpecialization.IconUrl" alt="@playableSpecialization.Name" title="@playableSpecialization.Name" class="specialization-icon" />
            <p>@playableSpecialization.Name</p>
        </div>
    }
</div>

